html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: "Lato", Verdana, serif;
  color: #767e9e;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
}

.section__wrapper {
  width: 939px;
  margin: auto;
  padding-bottom: 67px;
}

/* Secton Portfolio */

.portfolio {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.section-header {
  padding-top: 38px;
}

.section-header__title {
  font-style: normal;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 900;
  letter-spacing: -0.2px;
  color: #666d89;
}

.section-header__description {
  font-size: 1.8rem;
  line-height: 3rem;
  font-weight: 300;
  margin-top: -4px;
  margin-bottom: 11px;
  text-align: justify;
}

.portfolio-navigation {
  padding-left: 1px;
}

.portfolio-navigation__links {
  display: flex;
  justify-content: space-between;
  height: 22px;
  width: 287px;
  margin: 0;
  padding: 0;
}

.portfolio-navigation__links li {
  display: flex;
  align-items: center;
  padding: 0 6px 0 5px;
  border: 1px solid #666d89;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
}

.portfolio-navigation__links li:hover {
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.portfolio-navigation__links li:nth-child(1) {
  padding: 0 7px 0 6px;
}

.portfolio-navigation__links li:nth-child(2) {
  padding: 0 6px;
}

.portfolio-navigation__links a {
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-decoration: none;
  color: inherit;
}

.layout-4-column {
  padding-top: 19px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-gap: 20px 20px;
}

.layout-4-column :nth-child(n + 13) {
  display: none;
}

/* Secton Portfolio */

/* Secton About-Us */

.about-us {
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.about-us .section-header__title {
  margin-top: 24px;
}

.layout-3-column {
  padding-top: 34px;
  margin-left: -1px;
  display: flex;
  justify-content: space-between;
}

.employee {
  width: 300px;
}

.employee__name {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  margin-top: 14px;
  letter-spacing: -0.1px;
}

.employee__title {
  font-size: 12px;
  line-height: 21px;
  margin-top: -8px;
  margin-bottom: 24px;
  text-align: justify;
  word-spacing: -1px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  width: 152px;
  margin-left: 1px;
}

.employee__social-media {
  padding-left: 1px;
}

.social-media__ico {
  cursor: pointer;
}

/* Secton About-Us */
