html {
  height: 1189px;
  width: 1020px;
  margin: 0 auto;
  font-family: "Lato";
}

/* Header */
header {
  display: flex;
  height: 89px;
  color: white;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  justify-content: space-between;
}

.logo {
  margin: 34px 0 0 40px;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.6px;
}

.logo p,
.logo h1 {
  display: inline;
}

.logo p {
  position: absolute;
  color: #f06c64;
}

.navbar {
  width: 372px;
  margin: 41px 39px 0 0;
  letter-spacing: -0.1px;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar ul li a {
  text-align: left;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
}

.navbar p {
  position: absolute;
  display: inline;
  top: 38px;
  margin-left: 13px;
  font-weight: bold;
  color: #494e62;
}

.navbar ul li a:hover {
  color: #f06c64;
}

/* Header */

/* Slider */

.slider {
  height: 600px;
  box-sizing: border-box;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  display: flex;
  justify-content: space-around;
}

.slider-container {
  width: 798px;
  margin-left: -1px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  font-weight: bold;
  margin: auto 0;
}

.prev {
  margin-left: 15px;
}

.next {
  margin-right: 12px;
}

.prev img:hover,
.next img:hover {
  border-radius: 2px;
  background-color: #ffffffb2;
}

.vertical,
.horizontal {
  margin: auto 0;
}

.vertical {
  margin-left: 1px;
}

/* Slider */

/* Services */

.services {
  height: 494px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.services-container {
  padding: 66px 40px;
}

.description {
  height: 152px;
}

.description h1 {
  font-size: 30px;
  line-height: 18px;
  padding-top: 2px;
  height: 22px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: -0.2px;
}

.description p {
  margin-top: 23px;
  font-size: 19px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  word-spacing: -0.3px;
  letter-spacing: -0.3px;
}

.advantages {
  height: 246px;
  width: 940px;
  margin-left: 1px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 319px);
}

.advantages-item {
  display: flex;
  justify-content: space-between;
  margin-right: 7px;
}

.item-logo {
  display: block;
  margin: auto auto;
}

.advantages-item figure {
  display: flex;
  width: 60px;
  height: 60px;
  margin-top: 1px;
}

.item-description {
  width: 220px;
  margin-right: 12px;
}

.advantages-item h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
}

.advantages-item p {
  margin-left: 1px;
  margin-top: 10px;
  text-align: justify;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  word-spacing: -2px;
  letter-spacing: 0.2px;
}

/* Services */
